{% extends 'SonataAdminBundle:CRUD:list_boolean.html.twig' %}

{# for editable fields #}
{% block field_span_attributes %}
    {% spaceless %}
        {{ parent() }}
        data-source="[{value: 0, text: '{%- trans from 'SonataAdminBundle' %}label_type_no{% endtrans -%}'},{value: 0, text: '{%- trans from 'SonataAdminBundle' %}label_type_yes{% endtrans -%}'}]"
    {% endspaceless %}
{% endblock %}

{# to show field value #}
{% block field %}
    {% spaceless %}
        {% if value %}
            <span class="label label-success">{%- trans from 'SonataAdminBundle' %}label_type_yes{% endtrans -%}</span>    
        {% else %}
            <span class="label label-important">{%- trans from 'SonataAdminBundle' %}label_type_no{% endtrans -%}</span>        
        {% endif %}
    {% endspaceless %}
{% endblock %}