{% extends "::layout.html.twig" %}
{% block content %}
       
        <div class="row">
                {% block title %}
            
                <div class="col-lg-8">
                    <h3> Title </h3>
                </div>

                {% endblock %}

                {% block signin %}
                <div class="col-sm-4">
                    New and returning users may <a href="{{ path('fos_user_security_login')}}" data-toggle="modal">Sign In</a>
                </div>
                {% endblock %}
            </div>  

            <div class="container">
                {% block feedbackcontent %}
                   
                {{ render(controller('OxindFeedbackBundle:Feedback:listFeedback')) }}
                {% endblock %}
                {% block feedbackform %}
                {{ render(controller('OxindFeedbackBundle:Feedback:getFeedbackForm' , {'feedbacktype_id' : 1})) }}                       
                {% endblock %}
                    
            </div>
            

            <script type="text/javascript">
                $(function() {
                    $('label input[type="checkbox"], label input[type="radio"]').on('click', function() {
                        $('label input[type="checkbox"], label input[type="radio"]').each(function() {
                            $(this).is(':checked') ? $(this).parent().addClass('active') : $(this).parent().removeClass('active');
                        })
                    })
                })
            </script>
            
{% endblock %}